@charset "UTF-8";

.body {
  font-family: "Lato";
}

.title-font {
  font-family: "Raleway";
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
  display: inline-block;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-inner {
  padding: 15px 0 15px;
}

.header-icon {
  float: left;
  font-size: 40px;
}

.header-contactbox {
  font-size: 12px;
  background-color: #74cfae;
}

.header-contactbox {
  padding: 14px 12px;
  float: right;
}

.header-contact {
  color: #fff;
  transition: all .3s;
}

.header-hamburger {
  display: none;
}

.article-mailbox:hover .article-mail, .header-contactbox:hover .header-contact {
  color: #333;
}

.main-theme {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 70px;
}

.main-theme-inner {
  text-align: center;
  padding: 250px 0 250px;
}

.main-theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.main-theme-subtitle {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.section {
  background-color: #74cfae;
}

.section-inner {
  padding-top: 50px;
}

.section-title {
  font-size: 24px;
}

.section-box {
  text-align: center;
  color: #fff;
  float: left;
  width: 60%;
}

.section-imagebox {
  text-align: center;
}

.section-imagebox > img {
  vertical-align: bottom;
}

.section-text {
  word-break: keep-all;
}

.article {
  background-color: #f2f2f2;
}

.article-title {
  color: #4e4e4e;
  font-size: 24px;
  text-align: center;
  
}

.article-box {
  margin-top: 40px;
  text-align: center;
}

.section-imagebox {
  width: 40%;
  float: left;
}

.section-text {
  font-size: 20px;
  margin-top: 35px;
}

.article-inner {
  padding: 60px 0 70px;
}

.article-box > li {
  margin-left: 100px;
  margin-top: 80px;
  float: left;
}

.article-box > li >a {
  opacity: .7;
  transition: all .3s;
}

.article-box > li:nth-child(-n+3) {
  margin-top: 0;
}

.article-box > li:nth-child(3n+1) {
  margin-left: 0px;
}

.article-box > li >a:hover {
  opacity: 1;
}

.article-box > li > a >img {
  vertical-align: bottom;
}

.article-textbox {
  text-align: center;
  margin-top:90px;
}

.article-text {
  word-break: keep-all;
  color: #4e4e4e;
  float: left;
  margin-left: 25%;
  width: 42%;
}

.article-mailbox {
  background-color: #74cfae;
  padding: 14px 20px;
  float: left;
  margin-left: 90px;
}

.article-mail {
  color: #fff;
  font-size: 12px;
  transition: all .3s;
}

.skillsection {
  background-color: #4e4e4e;
}

.skillsection-inner {
  padding: 70px 0 100px;
}

.skill-section-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.skillsection-box {
  text-align: center;
  margin-top: 50px;
}

.skillsection-box > li {
  margin-left: 180px;
  display: inline-block;
}

.skillsection-box > li:first-child {
  margin-left :0;
}

.skillsection-box > li > img {
  vertical-align: bottom;
}

.skillsection-box > li > p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.nav {
  background-color: #f2f2f2;
}

.nav-inner {
  padding: 200px 0 200px;
  text-align: center;
}

.nav-inner > li {
  transition: all .3s ;
  display: inline-block;
}

.nav-inner > li:hover {
  background-color: #fff;
}

.nav-inner > li > a {
  padding: 25px 0;
  width: 185px
}

.nav-inner > li > a > i {
  color: #74cfae;
  font-size: 30px;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px;
}

.footer-text {
  text-align: right;
  color: #fff;
  font-size: 20px;
}

@media screen and (max-width: 1199px){
  .inner {
    width: 97%;
  }
  
  .section-inner {
    padding: 50px 0 25px;
  }
  
  .section-text {
    font-size: 16px;
    margin-top: 35px;
  }
  
  .section-imagebox {
    float: none;
    margin: 0 auto;
    width: auto;
  }
  
  .section-box {
    float: none;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
  }
  
  .article-box > li {
    float: none;
    margin-top: 0;
    margin-left: 0;
  }
  
  .article-box > li:nth-child(3n + 4) {
    margin-top: 80px;
  }
  
  .article-textbox {
    margin-top:80px;
  }
  
  .article-text {
    font-size: 15px;
    float: none;
    margin: 0 auto;
    width: auto;
  }
  
  .article-mailbox {
    margin-top: 40px;
    margin-left: 0;
    float: none;
  }
  
  .skillsection-inner {
    padding: 70px 0 100px;
  }
  
  .skillsection-box {
    margin-top: 50px;
  }
  
  .skillsection-box > li {
    margin-top: 88px;
    margin-left: 0;
    display: block;
  }
  
  .skillsection-box > li:first-child {
    margin-top: 0;
  }
  
  .nav-inner {
    display: table;
  }
  
  .nav-inner > li {
    display: table-cell;
  }
}

@media screen and (max-width: 767px){
  .header-contactbox {
    display: none;
  }
  
  .header-hamburger {
    padding:10px ;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    width: 15px;
    height: 10px;
    display: inline-block;
  }
  
  .header-hamburger > div {
    margin-top: 3px;
    background-color: #ddd;
    height: 1px;
  }
  
  .header-hamburger > div:first-child {
    margin-top: 0px;
  }
  
  .main-theme-inner {
    padding: 160px 0 130px;
  }
  
  .section-inner {
    padding: 50px 0 25px;
  }
  
  .section-text {
    font-size: 24.5px;
    margin-top: 35px;
  }
  
  .article-inner {
    padding: 60px 0 70px;
  }
  
  .article-box > li:nth-child(3n + 4) {
    margin-top: 80px;
  }
  
  .article-textbox {
    margin-top:80px;
  }
  
  .article-text {
    font-size: 22px;
  }
  
  .article-mailbox {
    margin-top: 40px;
  }
  
  .article-mail {
    font-size: 25px;
    transition: all .3s;
  }
  
  .skillsection-inner {
    padding: 70px 0 100px;
  }
  
  .skillsection-box {
    margin-top: 50px;
  }
  
  .skillsection-box > li {
    margin-top: 88px;
  }
  
  .nav-inner {
    padding: 50px 0;
  }
  
  .nav-inner > li {
    display: inline-block;
    width: 100%;
  }
  
  .nav-inner > li >a {
    width: 100%;
  }
  .footer-text {
    font-size: 20px;
  }
}