@charset "UTF-8";

.body {
  font-family: "Lato";
}

.title-font {
  font-family: "Raleway";
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-inner {
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-icon {
  float: left;
  padding-top: 12px;
  font-size: 24px;
}

.header-contactbox {
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  float: right;
}

.header-contact {
  color: #fff;
  transition: all .3s;
}

.header-contactbox:hover .header-contact{
  color: #333;
}

.main-theme {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 70px;
}

.main-theme-inner {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
}

.main-theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.main-theme-subtitle {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.section {
  background-color: #74cfae;
}

.section-inner {
  padding-top: 50px;
}

.section-image {
  float: left;
  margin-left: 10%;
}

.section-box {
  float: right;
  text-align: center;
  width: 60%;
  color: #fff;
}

.section-title {
  font-size: 24px;
}

.section-text {
  font-size: 20px;
  word-break: keep-all;
  margin-top: 35px;
}

.article {
  background-color: #f2f2f2;
}

.article-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.article-title {
  color: #4e4e4e;
  font-size: 24px;
  text-align: center;
  
}

.article-box {
  margin-top: 40px;
  text-align: center;
}

.article-box > li {
  margin-left: 100px;
  margin-top: 40px;
  opacity: .7;
  transition: all .3s;
  float: left;
}

.article-box > :first-child {
  margin-left: 0px;
}

.article-box > li:nth-child(4n) {
  margin-left: 0px;
}

.article-box > li:hover {
  opacity: 1;
}

.article-textbox {
  text-align: center;
  margin-top:90px;
}

.article-text {
  float: left;
  margin-left: 25%;
  width: 42%;
  word-break: keep-all;
  color: #4e4e4e;
}

.article-mailbox {
  float: left;
  margin-left: 90px;
  background-color: #74cfae;
  padding: 14px 20px;
}

.article-mail {
  color: #fff;
  font-size: 12px;
  transition: all .3s;
}

.article-mailbox:hover .article-mail {
  color: #333;
}

.skillsection {
  background-color: #4e4e4e;
}

.skillsection-inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill-section-title {
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.skillsection-box {
  text-align: center;
}

.skillsection-circlebox {
  margin-top: 50px;
  margin-left: 180px;
  display: inline-block;
}

.skillsection-circlebox:first-child {
  margin-left :0;
}

.skillsection-circlebox > p {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.nav {
  background-color: #f2f2f2;
}

.nav-inner {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.nav-SNSbox {
  float: left;
  background-color: #f2f2f2;
  width:185px ;
  height: 85px;
  text-align: center;
  transition: all .3s ;
  display: inline-block;
}

.nav-inner:first-child {
  margin-left: 25%;
}

.nav-SNSbox:hover {
  background-color: #fff;
  width:185px ;
  height: 85px;
}

.nav-SNS {
  color: #74cfae;
  position: relative;
  top: 40%;
  font-size: x-large;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text {
  font-size: 14px;
  text-align: right;
  color: #fff;
}